.onSearch {
    border: none;
    justify-content: right;

}

.onSearch input {
        border: 1px solid rgb(45, 133, 11);
            width: 20rem;
            padding: .2rem;
            min-height: 2rem;
            margin: 10px;
                display: inline-block;
}

.SearchContainer {
    display: flex;
    justify-content: right;
    background-color: rgba(31, 175, 168, 0.349);
    border: 1px;

}

.SearchContainer input{
            border: 1px solid rgb(45, 133, 11);
                width: 20rem;
                padding: .2rem;
                min-height: 2rem;
                margin: 10px;
                display: inline-block;
}

.SearchContainer  button{
    color: white;
        cursor: pointer;
        transition: .5s;
        background: transparent;
        border: 2px solid #ffffff;
        border-radius: 6px;

        color: white;
        padding: 8px 10px;
        text-align: center;
        display: inline-block;
        font-size: 13px;
        margin: 7px 13px;
        text-transform: uppercase;
}

.SearchContainer button:hover {
    background: #042e1a;
    border: 2px;
    color: white;

}


.SearchContainer img {
    border: 1px;
    border-color: red;
    display:inline-block;
    text-align: left;
    justify-content: left;
    margin-right: 50%;
}